<?xml version="1.0" ?>

<launch>
  <env name="ROSCONSOLE_FORMAT" value="[${severity}][${thread}][${node}/${function}:${line}]: ${message}"/>

  <!--*** qr_lost_comms ***--> <!-- ip:=192.168.1.2 --> <!-- jm:=xbox-->
  <arg name="ip" default="no"/>
  <arg name="jm" default="ps5"/>
  <node pkg="qrteam" type="qr_lost_comms" name="qr_lost_comms" clear_params="true" output="screen" respawn="true" >
    <param name="ping_fail_count" value="1"/>
    <param name="goal_frame_id" value="map"/>
    <param name="ips_to_monitor" value="$(arg ip)"/>
    <param name="joy_drive_model" value="$(arg jm)"/>
    <!-- INPUT TOPICS -->
    <remap from="recovery_pose" to="recovery_pose" />
    <!-- OUTPUT TOPICS -->
    <remap from="cmd_vel" to="cmd_vel" /> <!-- zero motors -->
  </node>

  <!--*** qr_base_drive_teleop ***-->
  <!-- Joystick Drive Device Argument --> <!-- joy_drive:=/dev/input/js1 -->
  <arg name="joy_drive" default="/dev/input/js0"/>
  <!-- Joy Node -->
  <node pkg="joy" type="joy_node" name="joy_drive" clear_params="true" output="screen" respawn="true">
    <!-- INPUT DEVICE -->
    <param name="dev" value="$(arg joy_drive)"/>
    <param name="deadzone" value="0.10" />
    <param name="coalesce_interval" value="0.1" />
    <param name="autorepeat_rate" value="20"/>
    <!-- OUTPUT TOPICS -->
    <remap from="joy" to="/joy_drive" />
  </node>
  <node pkg="qr_base_drive_teleop" type="qr_base_drive_teleop" name="qr_base_drive_teleop" clear_params="true" output="screen" respawn="true">
    <param name="joy_drive_model" value="$(arg jm)"/>
  </node>
  <!-- qr_cmd_vel_mux Node -->
  <node pkg="qrteam" type="qr_cmd_vel_mux" name="qr_cmd_vel_mux" clear_params="true" output="screen" respawn="true"/>
</launch>